body {
    background-color:black;
    color:white;
    font-family: 'Cormorant', serif;
    font-size: 24px;
    line-height:1.6;
    font-weight:400;
    text-align:center;
    padding:1em 0;
}

a:link, a:active, a:visited {
    color:white;
    text-decoration: none;
    font-size:1.2em;
    line-height:1;
}

a:hover {
    color:yellow;
    border-bottom:.1em solid yellow
}

a.butt:link, a.butt:visited {
    display:inline-block;
    text-transform:uppercase;
    font-size:.75em;
    padding:1em;
    background-color:yellow;
    color:black;
    margin:3em 0;
}

a.butt:hover {
    background-color:white;
}

a.dumb:link, a.dumb:visited {
    display:inline-block;
    font-size:.75em;
    color:white;
    margin:6em 0;
    font-style:italic;
    border-bottom:.1em solid yellow;
}

a.dumb:hover {
    color:yellow;
    border-bottom:.1em solid black;
}

h1 {
    font-size:4em;
    font-weight:200;
    line-height:.9;
    color:yellow;
}