@charset "utf-8";
/* CSS Document */

body {
    background-color:#2f00e6;
    color:#ffffff;
    font-family: 'Cardo', serif;
    font-size:24px;
    line-height:1.25em;
}

@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i|Karla:400,400i');

a:link, a:visited {
    color:#ffa959;
    text-decoration:none; 
    border-bottom:.1em solid #9780f3;
}

a.icon:link, a.icon:visited {
    color:#ffa959;
    text-decoration:none;
    font-size:1em;
    border-bottom:0px;
    margin-right:.25em;
}

#container {
    width:68%;
    margin:2em auto;
}

#lilbud {
    width:50%;
    float:left;
    margin:20;
}

#side {
    font-family:'Karla', serif;
    font-size:.6em;
    line-height:1.35;
    margin:0;
}

span.sub {
    font-family:'Karla', serif;
    font-size:.6em;
    line-height:1.8;
    display:block;
}

#bigboi {
    width:50%;
    float:left;
    margin:0 0 2em;
}

h1 {
    font-family:'Karla', sans-serif;
}

.caption {
    font-family: 'Karla', sans-serif;
    font-size:.5em;
    text-transform:uppercase;
    text-align:right;
    display:block;
}