body {
    background-color:#fff;
    color:#a748c3;
    font-family: 'Sabon LT Std', serif;
    font-size: 16px;
    line-height:1.2;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-Bold.woff2') format('woff2'),
        url('SabonLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-BoldItalic.woff2') format('woff2'),
        url('SabonLTStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-Roman.woff2') format('woff2'),
        url('SabonLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-Italic.woff2') format('woff2'),
        url('SabonLTStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

a:link, a:active, a:visited {
   color:#a748c3;
    text-decoration: none;
}

a:hover {
    color:#000;
    border-bottom:.1em solid #a748c3;
}

#container {
    width:90%;
    margin:auto;
}

#ulo {
    display:block;
    text-align: right;
    margin:3em 0;
    text-transform:uppercase;
}

#laki {
    display:block;
    margin:2em 0;
    font-size:3em;
}

#liit {
    display: block;
    margin:3em auto;
    font-size:1.5em;
}

#contacte {
    display: block;
    margin:3em 0;
    font-size:1.5em;
    width:50%;
}

.wee {
    font-size:.5em;
}

td {
    vertical-align: top;
}

td.un {
    width:35%;
}

td.deux {
    width:20%;
    padding:0 1em;
}

td.trois {
    width:25%;
    padding:0 0 0 1em;
}

