:root {
    --blanc:#fff;
    --gris:#333;
    --noir:#111;
    --sorbet:#fbbd7b;
  }

body {
    background-color:var(--blanc);
    color:var(--gris);
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    line-height:1.5;
    text-align:left;
    padding:2% 0;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🍊</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

p {
    margin:0 0 1.5em;
}

a:link, a:active, a:visited {
    color: inherit;
    border-bottom:.05em solid var(--gris);
    text-decoration:none;

}

a:hover {
    color:var(--sorbet);
    border-bottom:none;
}

a.bouton:link, a.bouton:active, a.bouton:visited {
    display:block;
    font-size:.9em;
    font-style:italic;
}

h1 {
    font-size:1.25em;
    font-weight:400;
    margin:1em 0;
    color:var(--sorbet);
    font-style:italic;
    text-transform:lowercase;
}

h2 {
    font-family:'Univers LT Std 53 Extended';
    font-size:.8em;
    color:var(--noir);
}

strong {
    color:var(--noir);
}

#tete {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    text-align:center;
    padding:2% 0;
    color:var(--noir);
}

#tete:hover {
    color:var(--sorbet);
}


#toute {
    width:90%;
    margin:5% auto;
    display:block;
}

#deux {
    width:100%;
    column-count: 2;
    column-gap:4%;
}

#pied {
    width:100%;
    text-align:center;
    padding:5% 0 0;
    display:block;
    clear:both;
}

#gauche {
    width:48%;
    float:left;
}

#gauche img {
    width:100%;
}

#droite {
    width:48%;
    float:right;
}