body {
    font-size:18px;
    line-height:1.8;
}

#container {
    width:90%;
}

#kaliwa {
    width:100%;
    display:block;
    margin:2em 0;
}

#kanan {
    width:100%;
    display:block;
    margin:2em 0;
}

a.nav:link {
    display:auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    border:none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-image: none;
    border:none;
    opacity: .5;
}