body {
    font-size:30px;
}

.inzaghi {
    font-size:1em;
}

a.geumga:link, a.plaza:link {
    font-size:.7em;
    padding:5%;
}

a.plaza:link {
    margin:0 0 20%;
}

h1 {
    margin:20% 0 0;
    padding:5%;
    width:90%;
}

p {
    width:90%;
    margin:15% 5%;
}