@font-face {
    font-family: 'Binchotan_Sharp';
    src: url('Binchotan_Sharp.woff2') format('woff2'),
        url('Binchotan_Sharp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

