@media (prefers-color-scheme: light)
    html
        --bg-color:     gainsboro
        --fg-main:      deeppink

@media (prefers-color-scheme: dark)
    html
        --bg-color:     black
        --fg-main:      mediumspringgreen

@font-face
    font-display: swap
    font-family: 'Times Now'
    font-style: normal
    font-weight: 300
    src: url('../f/TimesNow-SemiLight.woff2') format('woff2')

@font-face
    font-display: swap
    font-family: 'Times Now'
    font-style: italic
    font-weight: 300
    src: url('../f/TimesNow-SemiLightItalic.woff2') format('woff2')

@font-face
    font-display: swap
    font-family: 'Times Now'
    font-style: normal
    font-weight: 500
    src: url('../f/TimesNow-SemiBold.woff2') format('woff2')

@font-face
    font-display: swap
    font-family: 'Times Now'
    font-style: italic
    font-weight: 500
    src: url('../f/TimesNow-SemiBoldItalic.woff2') format('woff2')

html
    background-color: var(--bg-color)
    color: var(--fg-main)

body
    font-family: 'Times Now', 'Times New Roman', serif
    font-weight: 300
    font-size: 48px
    line-height: 1.22em
    padding: 0 0.2em
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a, a:visited
    color: var(--fg-main)

a:hover
    background-color: var(--fg-main)
    color: var(--bg-color)
    text-decoration: none

p
    margin: 0.2em 0

strong
    font-family: 'Arial', 'Helvetica', sans-serif
    font-weight: 400
    text-transform: uppercase

ul
    font-family: 'Arial', 'Helvetica', sans-serif 
    list-style-type: none
    padding-left: 0
    text-transform: uppercase

    a
        text-decoration: none 

.half
    font-size: 0.6em
