@media (prefers-color-scheme: light)
    html
        --bg-color:     white
        --fg-accent:    deeppink
        --fg-main:      black

@media (prefers-color-scheme: dark)
    html
        --bg-color:     black
        --fg-accent:    mediumspringgreen
        --fg-main:      white

html
    background-color: var(--bg-color)
    color: var(--fg-main)

body
    font-family: 'Arial', sans-serif
    font-size: 24px
    line-height: 1.4em

a, a:visited
  color: var(--fg-main)
  text-decoration-color: var(--fg-accent)

a:hover
    color: var(--fg-accent)
    font-family: 'Times New Roman', serif
    font-size: 1.1em

.serif
  font-family: 'Times New Roman', serif
  font-size: 1.1em
  color: var(--fg-accent)

ul
    list-style-type: none
    padding-left: 0
