@media (prefers-color-scheme: light)
    html
        --bg-color:     gainsboro
        --fg-main:      deeppink

@media (prefers-color-scheme: dark)
    html
        --bg-color:     black
        --fg-main:      mediumspringgreen

@font-face 
  font-display: swap
  font-family: 'STIX Two Text'
  font-style: normal
  font-weight: 400
  src: url('../f/stix-two-text-v12-latin-regular.woff2') format('woff2')


@font-face 
  font-display: swap
  font-family: 'STIX Two Text'
  font-style: italic
  font-weight: 400
  src: url('../f/stix-two-text-v12-latin-italic.woff2') format('woff2')

@font-face 
  font-display: swap
  font-family: 'Public Sans'
  font-style: normal
  font-weight: 400
  src: url('../f/public-sans-v18-latin-regular.woff2') format('woff2')

html
    background-color: var(--bg-color)
    color: var(--fg-main)

body
    font-family: 'STIX Two Text', 'Times New Roman', serif
    font-size: 36px
    line-height: 1.22em
    padding: 0 0.2em
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a, a:visited
    color: var(--fg-main)

a:hover
    background-color: var(--fg-main)
    color: var(--bg-color)
    text-decoration: none

p
    margin: 0.2em 0

strong
    font-family: 'Public Sans', sans-serif
    font-weight: 400
    text-transform: uppercase

ul
    font-family: 'Public Sans', sans-serif 
    font-weight: 400
    list-style-type: none
    padding-left: 0
    text-transform: uppercase

    a
        text-decoration: none 

.half
    font-size: 0.6em
